<div class="category-blue">
    <!-- Desktop Wrapper Starts -->
    <div class="category-links__wrapper col-sm-12 col-md-12">

        <div class="viewCategoryLinks">
            <nav>
                <ul class="row">
                    <li><a href="/">Science, Health, Technology</a></li>
                    <li><a href="#">Art, environment, culture</a></li>
                    <li><a href="#">Art, Science, Health, Technology</a></li>
                    <li><a href="#">Entreprenuership</a></li>
                    <li><a href="#">Environment</a></li>

                    <li><a href="#">Health</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Sciences</a></li>
                    <li><a href="#">Health</a></li>
                    <li><a href="#">Technology</a></li>                    
                  </ul>
             </nav>
        </div>

    </div>
    <!-- Desktop Wrapper Ends -->

    <!-- Mobile Accordion starts -->
    <div class="category-links__accordion col-xs-12 col-sm-12" role="tablist" aria-multiselectable="true">

          <!-- Category header starts -->
           <div class="categoryLinksSection checked">                     
               <a class="categoryLinksHeader" href="#">
                   Categories<i class="fa fa-angle-up categoryIcon"></i>            
               </a>
           </div>
           <!-- Category header ends -->

          <!-- Category link starts -->
          <div class="categoryLinksCollapse">
              <nav>
                  <ul>
                      <li><i class="fa fa-minus categoryLinksDash" aria-hidden="true"></i><a href="#">Sciences</a></li>
                      <li><i class="fa fa-minus categoryLinksDash" aria-hidden="true"></i><a href="#">Health</a></li>
                      <li><i class="fa fa-minus categoryLinksDash" aria-hidden="true"></i><a href="#">Technology</a></li>
                      <li><i class="fa fa-minus categoryLinksDash" aria-hidden="true"></i><a href="#">Art, Science & culture</a></li>
                      <li><i class="fa fa-minus categoryLinksDash" aria-hidden="true"></i><a href="#">Business & entreprenuership</a></li>
                      <li><i class="fa fa-minus categoryLinksDash" aria-hidden="true"></i><a href="#">Soceity & environment</a></li>
                  </ul>
              </nav>
          </div>
          <!-- Category link ends -->

    </div>
    <!-- Mobile Accordion ends -->
</div>