<!-- desktop starts -->
<section class="col-md-12 col-lg-12 feature-content__wrapper full-width">    
    <div class="col-md-12 col-lg-12 feature-content__desk lazy slider">
        <div class="col-md-12 col-lg-12 featurecon-desk-slider">
            <div class="col-md-4 col-lg-4 featurecon-desk-leftsection">
                <p><a href="#" class="featurecon-desk-headinglink">Immune control: treating brain injury with an on/off switch.</a></p>
                <p class="featurecon-desk-desc">Australian researchers have developed groundbreaking technology for controlling the body’s own immune response to brain damage, in an advance that could prove crucial in treating brain injuries.</p>
                <p><a class="btn btn-primary btn-desk-view" href="#" role="button">View All</a></p>
            </div>
            
            <div class="col-md-8 col-lg-8 featurecon-desk-rightsection">
                <img data-lazy="../../images/image.jpg" alt="Slider" height="446" />
            </div>
        </div>
        
        <div class="col-md-12 col-lg-12 featurecon-desk-slider">
            <div class="col-md-4 col-lg-4 featurecon-desk-leftsection">
                <p><a href="#" class="featurecon-desk-headinglink">Immune control2: </a></p>
                <p class="featurecon-desk-desc">Australian researchers have developed groundbreaking technology for controlling the body’s own immune response to brain damage, in an advance that could prove crucial in treating brain injuries.</p>
                <p><a class="btn btn-primary btn-desk-view" href="#" role="button">View All</a></p>
            </div>
            
            <div class="col-md-8 col-lg-8 featurecon-desk-rightsection">
                <img data-lazy="../../images/image_2.jpg" alt="Slider" height="446" />
            </div>
        </div>
        
        <div class="col-md-12 col-lg-12 featurecon-desk-slider">
            <div class="col-md-4 col-lg-4 featurecon-desk-leftsection">
                <p><a href="#" class="featurecon-desk-headinglink">Immune control3: </a></p>
                <p class="featurecon-desk-desc">Australian researchers have developed groundbreaking technology for controlling the body’s own immune response to brain damage, in an advance that could prove crucial in treating brain injuries.</p>
                <p><a class="btn btn-primary btn-desk-view" href="#" role="button">View All</a></p>
            </div>
            
            <div class="col-md-8 col-lg-8 featurecon-desk-rightsection">
                <img data-lazy="../../images/image_3.png" alt="Slider" height="446" />
            </div>
        </div>
    </div>            
</section>
<!-- desktop ends -->

<!-- mobile starts -->
<section class="col-xs-12 col-sm-12 feature-content__container full-width">    
    <div class="col-xs-12 col-sm-12 feature-content__mobi lazy slider">
        <div class="col-xs-12 col-sm-12 featurecon-mobi-slidersection">
            <p class="featurecon-mobi-imgcontainer"><a href=""><img data-lazy="../../images/image.jpg" alt="Slider" height="233" /></a></p>
            <span class="col-xs-12 col-sm-12 featurecon-mobi-border"></span>
            <p class="featurecon-mobi-headingcontainer"><a href="#" class="featurecon-mobi-headinglink">Immune control: treating brain injury with an on/off switch.</a></p>
            <p class="featurecon-mobi-desc">Nunc dapibus neque cursus faucibus, tortor neque egestas augue, vulputate magna eros eu erat. Aliquam erat volutpat nam duimi tincidunt.</p>
            <p class="featurecon-mobi-btncontainer"><a class="btn btn-primary btn-mobile-view" href="#" role="button">View All</a></p>
        </div>
        
        <div class="col-xs-12 col-sm-12 featurecon-mobi-slidersection">
            <p class="featurecon-mobi-imgcontainer"><a href=""><img data-lazy="../../images/image.jpg" alt="Slider" height="233" /></a></p>
            <span class="col-xs-12 col-sm-12 featurecon-mobi-border"></span>
            <p class="featurecon-mobi-headingcontainer"><a href="#" class="featurecon-mobi-headinglink">Immune control: treating brain injury with an on/off switch.</a></p>
            <p class="featurecon-mobi-desc">Nunc dapibus neque cursus faucibus, tortor neque egestas augue, vulputate magna eros eu erat. Aliquam erat volutpat nam duimi tincidunt.</p>
            <p class="featurecon-mobi-btncontainer"><a class="btn btn-primary btn-mobile-view" href="#" role="button">View All</a></p>
        </div>
        
        <div class="col-xs-12 col-sm-12 featurecon-mobi-slidersection">
            <p class="featurecon-mobi-imgcontainer"><a href=""><img data-lazy="../../images/image.jpg" alt="Slider" height="233" /></a></p>
            <span class="col-xs-12 col-sm-12 featurecon-mobi-border"></span>
            <p class="featurecon-mobi-headingcontainer"><a href="#" class="featurecon-mobi-headinglink">Immune control: treating brain injury with an on/off switch.</a></p>
            <p class="featurecon-mobi-desc">Nunc dapibus neque cursus faucibus, tortor neque egestas augue, vulputate magna eros eu erat. Aliquam erat volutpat nam duimi tincidunt.</p>
            <p class="featurecon-mobi-btncontainer"><a class="btn btn-primary btn-mobile-view" href="#" role="button">View All</a></p>
        </div>
    </div>
</section>
<!-- mobile starts -->