<div class="bg-navy">
<div class="iconlist" style="margin-top:50px;">
<div class="iconListHeading">Engage</div>

<div class="row ">
   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-link" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-download" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row p-25">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-info-circle" aria-hidden="true"></i>
   </div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>




   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-phone" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>


</div>






</div>
</div>

<div class="bg-navy" style="margin-top:50px;">
<div class="iconlist">
<div class="iconListHeading">Engage</div>

       <div class="row">

     <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>



   </div>

           <div class="row">

     <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>



   </div>
    </div>
</div>






    <div class="bg-grey">
<div class="iconlist" style="margin-top:50px;">
<div class="iconListHeading">Engage</div>

<div class="row ">
   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-link" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-download" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row p-25">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-info-circle" aria-hidden="true"></i>
   </div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>




   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-phone" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-3 col-sm-6 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>


</div>






</div>
</div>

<div class="bg-grey" style="margin-top:50px;">
<div class="iconlist">
<div class="iconListHeading">Engage</div>

       <div class="row">

     <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1 "><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

     <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Contact RMIT News</div>
      </div>
   </div>

   <div class="col-md-4 col-xs-12 pb-20">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-repeat" aria-hidden="true"></i></div>
         <div class="col-md-10 col-sm-10 col-xs-10">Republish story</div>
      </div>
   </div>



   </div>
    </div>
</div>