<div  class="section-title">
    <h2 class="topHighlighterRed">Section Title</h2>
</div> 

<div  class="section-title">
    <h3 class="topHighlighterRed">Section Title</h3>
</div> 
<div  class="section-title">
    <h4 class="topHighlighterRed">Section Title</h4>
</div> 
<div  class="section-title">
    <h5 class="topHighlighterRed">Section Title</h5>
</div> 