<div class="socialshare">
   <h2 class="socialhead">Share</h2>
   <ul>
   <li>
      <a href="https://www.rmit.edu.au/" target="_blank"><span class="fa-stack fa-md">
      <i class="fa fa-circle fa-stack-2x bg-facebook"></i>
      <i class="fa fa-facebook fa-stack-1x"></i>
      </span></a>
   </li>
   <li> <a href="https://www.rmit.edu.au/" target="_blank"><span class="fa-stack fa-md">
     <i class="fa fa-circle fa-stack-2x bg-twitter"></i>
      <i class="fa fa-twitter fa-stack-1x fontcolor"></i>
      </span></a>
   </li>
   <li><a href="https://www.rmit.edu.au/" target="_blank"><span class="fa-stack fa-md">
      <i class="fa fa-circle fa-stack-2x bg-linkedin"></i>
      <i class="fa fa-linkedin fa-stack-1x"></i>
      </span></a>
   </li>
   <li><a href="https://www.rmit.edu.au/" target="_blank"><span class="fa-stack fa-md">
      <i class="fa fa-circle fa-stack-2x bg-email"></i>
      <i class="fa fa-envelope fa-stack-1x"></i>
     </span> </a>
   </li>
   </ul>
</div>