<div class="text  aem-GridColumn aem-GridColumn--default--2">

<div class="cmp-text">
<h1>Manual Testing </h1>
<p><b>Manual Testing&nbsp;is the process of manually testing softwares&nbsp;for defects.</b></p>
<p><i>It requires a tester to play the role of an end user whereby they use most of the</i> application's features to ensure correct behavior. To guarantee completeness of testing, the tester often follows a written test plan&nbsp;&nbsp;that leads them through a set of important test cases.<b>Manual Testing</b>&nbsp;is the process of manually testing softwares&nbsp;for defects. It requires a tester to play the role of an end user whereby they use most of the application's features to ensure correct behavior. To guarantee completeness of testing, the tester often follows a written test plan&nbsp;&nbsp;that leads them through a set of important test cases.</p>
<ul>
<li>Find out more about industry </li>
<li>Read our success stories</li>
</ul>

</div>
</div>

<div class="text chevronCustomList aem-GridColumn aem-GridColumn--default--2">
<div class="cmp-text">
<h2>Lorem ipsum dolor [H2]</h2>
<h3>Lorem ipsum dolor [H3]</h3>
<p>Lorem ipsum dolor sit amet conse ctetur adipis icingelit, eveniet dicta conse quatur quivo lupt atem perfer endis verit. Atis autem maxime elig endi illum labor iosam velit hiclabore que dolore mque, fugiat imus idaspeid dolor libero quos mole stias tenur adeius maxime. Veritatis laud antium natus ipsam laborum [Strong] nesciunt poss imus idaspe riorese debitis enim unde lorem ipsum dolor sit amet. [Paragraph text] </p>
<h4>Lorem ipsum dolor [H4]</h4>
	
<ol>
<li>Lorem ipsum</li>
<li>Lorem ipsum 1</li>
<li>Lorem ipsum 2</li>
<li>Lorem ipsum 3</li>
<li>Lorem ipsum 4</li>
</ol>
<blockquote> Lorem ipsum dolor sit amet conse ctetur adipis icingelit, even iet dicta onse quatur quivo lupt atem perfer endis verit. Atis autem maxime elig endiolle um labor iosam velit  amet conse citetur adipis icing nelit, eveniet dicta conse quatur quivo lupt atem perfer endis verit. [Blockquote]</blockquote>

<ul>
<li>Find out more about industry </li>
<li>Read our success stories</li>
</ul>

</div>
</div>