<!-- Desktop Wrapper Starts -->
<section class="col-md-12 col-lg-12 top-nav__wrapper">
    <div class="col-md-2 col-lg-2 topnav-logosection">
        <a href="#"><img src="images/rmit-logo.png" width="126" height="41" /></a>
    </div>
    <nav class="col-md-8 col-lg-8 topnav-links" role="navigation">
        <ul class="row topnav-list">
            <li>
                <a href="#">RMIT Australia</a>
                <div class="topnav-sublinks">
                    <ul class="topnav-sublist">
                        <li><a href="#">RMIT Australia</a></li>
                        <span class="topnav-border"></span>
                        <li><a href="rmit.html">RMIT Australia</a></li>
                        <span class="topnav-border"></span>
                        <li><a href="#">RMIT Australia</a></li>
                        <span class="topnav-border"></span>
                    </ul>
                </div>
            </li>
            <li class="default">
                <a href="#">Students</a>
                <div class="topnav-sublinks">
                    <ul class="topnav-sublist">
                        <li><a href="#">2010</a></li>
                        <span class="topnav-border"></span>
                        <li><a href="students.html">2011</a></li>
                        <span class="topnav-border"></span>
                        <li><a href="#">2012</a></li>
                        <span class="topnav-border"></span>
                    </ul>
                </div>
            </li>
            <li><a href="alumini.html">Alumini</a></li>
            <li><a href="#">Staff</a></li>
        </ul>
    </nav>
    <div class="col-md-1 col-lg-1 topnav-usersection">            
        <a href="user.html" class="decoration"><i class="fa fa-user fa-2x"></i></a>            
    </div>
    <div class="col-md-1 col-lg-1 topnav-searchsection">
        <a href="#" class="topnav-search-main decoration"><i class="fa fa-search fa-2x"></i></a>            
    </div>
</section>
<!-- Desktop Wrapper Ends -->

<!-- Search Starts -->
<div class="col-md-12 col-lg-12 top-nav__search">
    <div class="col-md-12 col-lg-12 topnav-searchsection">
        <div class="col-md-11 col-lg-11 topnav-search-text">What are you looking for?</div>
        <div class="topnav-search-close">
            <a href="#"><span class="topnav-search-closebtn"></span></a>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 topnav-searchbox-section">
        <span class="col-md-11 col-lg-11">
            <input type="text" placeholder="Search" name="search" id="topnav-search-value" class="topnav-searchbox-text">
        </span>
        <span class="col-md-1 col-lg-1 topnav-searchbox-iconsection">
            <a href="index.html" class="topnav-searchbox-icon"><i class="fa fa-search fa-3x"></i></a>
        </span>
    </div>

</div>
<!-- Search Ends -->

<!-- Mobile Accordion Starts -->
<section class="col-xs-12 col-sm-12 top-nav__accordion">

    <!-- Mobile Header Starts -->
    <div class="col-xs-12 col-sm-12 topnav-mobi-header">
        <div class="col-xs-6 col-sm-6 topnav-mobi-logosection">
            <a href="#"><img src="images/rmit-logo.png" width="96" height="30" /></a>
        </div>

        <div class="topnav-mobi-iconssection">
            <span class="topnav-mobi-user"><a href="#" class="topnav-mobi-usericon"><i class="fa fa-user fa-1x"></i></a></span>
            <span class="topnav-mobi-search"><a href="#" class="topnav-mobi-searchicon"><i class="fa fa-search fa-1x"></i></a></span>
            <span class="topnav-mobi-close"><a href="#" class="topnav-mobi-closeicon"><i class="fa fa-times fa-1x"></i></a></span>
            <span class="topnav-mobi-bars"><a href="#" class="topnav-mobi-barsicon"><i class="fa fa-bars fa-1x"></i></a></span>
        </div>
    </div>
    <!-- Mobile Header Ends -->

    <!-- Mobile Search Starts -->
    <div class="col-xs-12 col-sm-12 topnav-mobi-subsearch">
        <span class="col-xs-10 col-sm-10 topnav-mobi-textsection">
            <input type="text" placeholder="Search" name="search" id="topnav-mobi-searchvalue" class="topnav-mobi-searchtext">
        </span>
        <span class="col-xs-2 col-sm-2 topnav-mobi-subsearchsection">
            <a href="#" class="topnav-mobi-searchicon"><i class="fa fa-search fa-1x"></i></a>
        </span>
    </div>
    <!-- Mobile Search Ends -->

     <!-- Mobile Accordion Display Starts -->
    <div class="col-xs-9 col-sm-9 topnav-mobi-accordion">

       <!-- Mobile Accordion Content Starts -->
        <div class="topnav-mobi-accsection">
            
           <div class="topnav-mobi-acclinkssection">
               <a href="#" class="topnav-mobi-acclinks">RMIT Australia<i class="fa fa-angle-down"></i></a>
           </div>
            
            <div class="topnav-mobi-sublinkssection">
            <ul class="topnav-mobi-sublinks">
                  <li><a href="#">Sciences</a></li>
                  <li><a href="#">Sciences</a></li>
                  <li><a href="#">Sciences</a></li>
                  <li><a href="#">Sciences</a></li>
              </ul>
            </div>
            
            <div class="topnav-mobi-acclinkssection">
               <a href="#" class="topnav-mobi-acclinks">Students<i class="fa fa-angle-down"></i></a>
           </div>
            
            <div class="topnav-mobi-sublinkssection">
            <ul class="topnav-mobi-sublinks">
                  <li><a href="#">2010</a></li>
                  <li><a href="#">2011</a></li>
                  <li><a href="#">2012</a></li>
                  <li><a href="#">2013</a></li>
              </ul>
            </div>
            
            <div class="topnav-mobi-acclinkssection">
               <a href="#" class="topnav-mobi-acclinks">Staff<i class="fa fa-angle-down"></i></a>
           </div>
            
            <div class="topnav-mobi-sublinkssection">
            <ul class="topnav-mobi-sublinks">
                  <li><a href="#">Science</a></li>
                  <li><a href="#">Research</a></li>
                  <li><a href="#">Physics</a></li>
                  <li><a href="#">Maths</a></li>
              </ul>
            </div>
                        
        </div>       
       <!-- Mobile Accordion Content Ends -->

    </div>
    <!-- Mobile Accordion Display Ends -->

</section>
<!-- Mobile Accordion Ends -->